*{
    box-sizing: border-box;
}

.element::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent 40%, #fffdfd 40%),
    url(images/home_bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    border: 0px;
    margin: 0;
    width: 100%;
    max-height: 100vh;
}



.navbar{
    display: flex;
    position: fixed;
    top: 0;
    padding: 10px 200px;
    width: 100%;
}




.links{
    display: flex;
    list-style: none;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 1.5rem;
    background-image: linear-gradient(120deg, #5d5555 0%, #5d5555 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4rem;
    background-position: 0 89%;
    transition: background-size 0.5s ease;
}

.links a:hover{
    background-size: 100% 1.8rem;
}

.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top: 0;
    margin: 100px;
    margin-top: 100px;
    max-height: 100vh;
    flex: 1;
}

.texts{
    max-width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texts h1{
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
}

.texts h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.texts p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.texts h2 .name-text{
    color: rgb(100, 180, 255);
}

.image{

    max-width: 40%;
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #fffdfd;
    transition: all 0.5s ease;
}

.image img:hover{
    border-color: #999090;
}



.bottom{
    background-color: rgb(36, 36, 36);
    padding: 40px 20px;
    border-top: 1px solid#333;
    height: 10vh;
}




.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    border-radius: 25px;
    text-decoration: none;
    height: 50px;
    width: 200px;
    transition: all 0.5s ease;
}

.about-me:hover{
    transform: scale(1.25);
}

.icons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    gap: 10px;

    
}

.icons a{
    font-size: 2.5rem;
    transition: all 0.5s ease;
}

.icons a:hover{
    transform: scale(1.25);
}